.search {
    color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 15px;
    max-width: 350px;
    width: 100%;
    height: 46px;
    position: relative;
    label {
        width: 100%;
    }
    input {
        background-color: inherit;
        flex-grow: 1;
        width: 100%;
        max-width: calc(100% - 35px);
    }
    .btn {
        padding: 0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 100%;
        padding-inline: 15px;
        right: 0;
        top: 0;
    }
}