.layout {
    --maxHeaderHeight: 165px;
    padding-top: 20px;
    overflow-y: scroll;
    flex-grow: 1;
    padding-left: 15px;
    max-height: calc(100% - var(--maxHeaderHeight));
    .top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .count {
        display: inline-block;
    }
    .list {
        list-style: none;
        padding-bottom: 40px;
        padding-left: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 30px 25px;
        padding-right: 4px;
    }
    &::-webkit-scrollbar {
        position: absolute;
        width: 4px;
        background-color: rgb(255, 255, 255);
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(218, 218, 218, 0.404);
        border-radius: 8px;
    }
}